@import url("/asset/scss/utils/_vars.scss");
@import url("/asset/scss/utils/_mixin.scss");

//체크박스

input[type="checkbox"] {
  display: none;

  margin-right: 8px;

  & + label {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 4px;
    box-sizing: border-box;
    //border: 1px solid #444;
    border-radius: 2px;
  }
  &:checked {
    & + label {
      //background-color: #fff;
      &:after {
        content: "";
        display: inline-block;
        position: relative;
        top: -1px;
        left: -1px;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border-radius: 2px;
        @include backgroundImage(16px, 16px, "icon/check_fill.svg");
      }
    }
  }
}


.fade-stage{
  opacity: 0;
  animation: stageFadeIn 1.2s ease forwards;
  animation-delay: 7s;
}

@keyframes stageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.ani-time {
  display: inline-block;
  opacity: 0;
  transform: translateY(400px);
  animation: timerUp 2.2s ease forwards;
  animation-delay: 1.4s; /* 기본값 */
}
.fadein{
  display: inline-block;
  opacity: 0;
  animation: fade 1.7s ease forwards;
  animation-delay: 1.4s; /* 기본값 */
}



@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes timerUp {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ani-weather {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  animation: weatherUp 1s ease forwards;
  animation-delay: 1.4s; /* 기본값 */
}

.ani-slide {
  display: inline-block;
  opacity: 0;
  transform: translateX(-50px);
  animation: slide 1.5s ease forwards;
  animation-delay: 1.4s; /* 기본값 */
}

@keyframes weatherUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



.delay-1 { animation-delay: 7.4s; }
.delay-2 { animation-delay: 7.7s; }
.delay-3 { animation-delay: 8.0s; }
.delay-4 { animation-delay: 8.5s; }

//애니메이션
@keyframes bounce {
  0% {
    top: -41px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: -41px;
  }
}

//애니메이션
@keyframes move1 {
  0% {
    margin-left: -3px;
    margin-top: -3px;
  }
  30% {
    margin-left: 0px;
    margin-top: 0;
  }
  60% {
    margin-left: 3px;
    margin-top: 3px;
  }
  100% {
    margin-left: -3px;
    margin-top: -3px;
  }
}
//애니메이션
@keyframes move2 {
  0% {
    margin-left: 3px;
    margin-top: 3px;
  }
  30% {
    margin-left: 0px;
    margin-top: 0;
  }
  60% {
    margin-left: -3px;
    margin-top: -3px;
  }
  100% {
    margin-left: 3px;
    margin-top: 3px;
  }
}
//애니메이션
@keyframes move3 {
  0% {
    margin-left: 0px;
    margin-top: 0;
  }
  30% {
    margin-left: -3px;
    margin-top: -3px;
  }
  60% {
    margin-left: 3px;
    margin-top: 3px;
  }
  100% {
    margin-left: 0px;
    margin-top: 0;
  }
}
//애니메이션
@keyframes move4 {
  0% {
    margin-left: 0px;
    margin-top: 0;
  }
  20% {
    margin-left: 3px;
    margin-top: 3px;
  }
  80% {
    margin-left: -3px;
    margin-top: -3px;
  }
  100% {
    margin-left: 0px;
    margin-top: 0;
  }
}



//애니메이션
@keyframes move11 {
  0% {
    margin-right: -3px;
    margin-top: -3px;
  }
  30% {
    margin-right: 0px;
    margin-top: 0;
  }
  60% {
    margin-right: 3px;
    margin-top: 3px;
  }
  100% {
    margin-right: -3px;
    margin-top: -3px;
  }
}
//애니메이션
@keyframes move12 {
  0% {
    margin-right: 3px;
    margin-top: 3px;
  }
  30% {
    margin-right: 0px;
    margin-top: 0;
  }
  60% {
    margin-right: -3px;
    margin-top: -3px;
  }
  100% {
    margin-right: 3px;
    margin-top: 3px;
  }
}
//애니메이션
@keyframes move13 {
  0% {
    margin-right: 0px;
    margin-top: 0;
  }
  30% {
    margin-right: -3px;
    margin-top: -3px;
  }
  60% {
    margin-right: 3px;
    margin-top: 3px;
  }
  100% {
    margin-right: 0px;
    margin-top: 0;
  }
}
//애니메이션
@keyframes move14 {
  0% {
    margin-right: 0px;
    margin-top: 0;
  }
  20% {
    margin-right: 3px;
    margin-top: 3px;
  }
  80% {
    margin-right: -3px;
    margin-top: -3px;
  }
  100% {
    margin-right: 0px;
    margin-top: 0;
  }
}

//title animation
@keyframes titleDrop {
  0% {
      transform: translateY(-50px) scale(0.8); /* 위에서 시작, 작게 */
      opacity: 0;
  }
  60% {
      transform: translateY(10px) scale(1.1); /* 바운스 효과 */
      opacity: 1;
  }
  70% {
      transform: translateY(-5px) scale(1); /* 바운스 효과 */
      opacity: 1;
  }
  80% {
      transform: translateY(5px) scale(1); /* 바운스 효과 */
      opacity: 1;
  }
  100% {
      transform: translateY(0) scale(1); /* 원래 크기로 */
      opacity: 1;
  }
}
//title animation
@keyframes titleDrop2 {
  0% {
      transform: translateY(50px) scale(0.8); /* 위에서 시작, 작게 */
      opacity: 0;
  }
  60% {
      transform: translateY(-10px) scale(1.1); /* 바운스 효과 */
      opacity: 1;
  }
  70% {
      transform: translateY(5px) scale(1); /* 바운스 효과 */
      opacity: 1;
  }
  80% {
      transform: translateY(-5px) scale(1); /* 바운스 효과 */
      opacity: 1;
  }
  100% {
      transform: translateY(0) scale(1); /* 원래 크기로 */
      opacity: 1;
  }
}
//sparkle
@keyframes sparkle {
  0% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
      opacity: 0.8;
      transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
      opacity: 0.5;
      transform: translate(-50%, -50%) scale(1);
  }
}

//banner
@keyframes floating {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); /* 이동 */
  }
  100% {
      transform: translateY(0);
  }
}

//twinkle
@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0.5;
  }
}