@import url("/asset/scss/utils/_vars.scss");
.popup {
  display: none;
  z-index: 990;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform:translate(-50%, -50%);
  width: calc(100% - 40px);
  width: 615px;
  border-radius: 8px;
  //overflow: hidden;
  &.pop-event{
    width:743px;
  }
  &.pop-terms{
    width:960px;
  }
  .popup-cont {
    position: relative;
    padding: 32px 0;
    background: #661f00;
    border: 4px solid #ffc000;
    border-radius: 30px;
    //사전예약시 전원 지급,보상받기
    .pre-event{
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      background: url("../../asset/image/common/pop_img01.png") no-repeat 50% -30px;
      background-size: 100%;
      .event-img{
        height: 300px;
      }
    }
    .notice-msg{
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 170px 0 0 0;
      &:after{
        content:"";
        background: url("../../asset/image/common/pop_img02.png") no-repeat 50% 0;
        background-size: cover;
        width: 347px;
        height: 273px;
        position: absolute;
        top: -90px;
      }
    }
    .terms-text{
      text-align: center;
    }
    .popup-btn{
      margin-top: 15px;
      text-align: center;
    }
    .pop-close {
      position: absolute;
      z-index: 991;
      top: -20px;
      right: -20px;
    }
  }
}
//mobile
@media screen and (max-width: 750px) {
  .popup {
    display: none;
    z-index: 990;
    position: absolute;
    left: 50% !important;
    transform:translate(-50%, -50%);
    width: calc(100% - 40px);
    border-radius: 8px;
    //overflow: hidden;
    &.pop-event,
    &.pop-terms{
      width:100%;
    }
    .popup-cont {
      position: relative;
      padding: 32px 0 16px 0;
      background: #661f00;
      border: 4px solid #ffc000;
      border-radius: 30px;
      //사전예약시 전원 지급,보상받기
      .pre-event{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        background: url("../../asset/image/common-m/pop_img01.png") no-repeat 50% 0;
        background-size: 100%;
        img{
          width: 100%;
        }
        .pre-event-msg{
          width: calc(100% - 40px);
        }
        .event-img{
          height: 42vw;
        }
      }
      .notice-msg{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 170px 0 30px 0;
        &:after{
          content:"";
          background: url("../../asset/image/common-m/pop_img02.png") no-repeat 50% 0;
          background-size: cover;
          width: 270px;
          height: 211px;
          position: absolute;
          top: -40px;
        }
        img{
          width: 100%;
        }
      }
      .terms-text{
        text-align: center;
        img{
          width: 95%;
        }
      }
      .popup-btn{
        margin-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        img{
          width: 80%;
        }
        a + a{
          margin-top: 15px;
        }
      }
      .pop-close {
        position: absolute;
        z-index: 991;
        top: -20px;
        right: -20px;
        img{
          width: 40px;
        }
      }
    }
  }
}
.dimmed {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000000ca;
  z-index: 900;
}
