#signage-stage{
  display: flex;
  width: 19200px;
  height: 864px;
}
.panel-a{
  display: flex;
  align-items: center;
  width: 8832px;
  height: 864px;
  background: url(/asset/image/weather.png) repeat-x;
}
.panel-b{
  display: flex;
  align-items: center;
  width: 10368px;
  height: 864px;
  background: url(/asset/image/weather.png) repeat-x;
}
.board-time{
  display: flex;
  width:2133px;
  height:679px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3); /* 반투명 */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */
}
