#signage-stage{
  display: flex;
  width: 19200px;
  height: 864px;
}
.bg_mov{
  position: absolute;
  z-index: 10;
  top:0;
  left:0;
  width: 8832px;
  height: 864px;
}
.panel-a{
  display: flex;
  align-items: center;
  width: 8832px;
  height: 864px;
  background: url("../image/weather.png") repeat-x;
}
.panel-b{
  display: flex;
  align-items: center;
  width: 10368px;
  height: 864px;
  background: url("../image/weather.png") repeat-x;
}
.board{
  position: relative;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  width:2133px;
  height:679px;
  border-radius: 50px;
  background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%); /* 반투명 */
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px); /* Safari */
  border: 2px solid #ffffff26;
  box-shadow: -5px -5px 250px 0 rgba(255, 255, 255, 0.02) inset;
  &.board-now{
    margin-left: 860px;
    gap: 70px;
  }
  &.board-weather{
    margin-left: 2275px;
    gap: 150px;
  }
  &.board-clock{
    margin-left: 1000px;
    background: none;
    border: none;
    backdrop-filter: none;
  }
  .board-time{}
  .clock-row{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: baseline;
    width: 1330px;
    .clock-hhmm{
      overflow: hidden;
      font-size: 504px;
      font-weight: 600;
      color:#fff;
      letter-spacing: -0.08em;
      font-family: "Inter";
      .var{
        line-height: 300px;
        display: inline-block;
        width: 30px;
        vertical-align: top;
        margin-top: 50px;
        margin-left: -70px;
      }
    }
    .clock-ampm{
      font-size: 125px;
      color:#fff;
      font-weight: 300;
      letter-spacing: -0.04em;
      font-family: "Inter";
    }
  }
  .board-today{
    flex: 0 0 700px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
  }
  .weather-row{
    display: flex;
    align-items: flex-end;
    gap: 40px;
    .weather-icon{
      width: 114px;
      height: 114px;
      vertical-align: middle;
      display: inline-block;
    }
    .weather-text{
      font-size: 110px;
      font-weight: 400;
      letter-spacing: -0.02em;
      color:#fff;
    }
    .weather-text-en{
      font-size: 36px;
      font-weight: 300;
      color:#fff;
    }
  }
  .day-row{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .day-today{
      font-size: 55px;
      font-weight: 300;
      color:#fff;
    }
    .day-today-en{
      font-size: 36px;
      font-weight: 300;
      color:#fff;
    }
  }
  .dust-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
    .dust-item{
      display: flex;
      align-items: baseline;
      gap: 14px;
      font-size: 35px;
      font-weight: 300;
      color:#fff;
    }

    .dust-label{
      width: 180px;
      font-size: 35px;
      font-weight: 500;
      color:#fff;
    }

    .dust-value{
      font-size: 35px;
      font-weight: 300;
      color:#fff;
      width: 80px;
      text-align: left;
    }

    .dust-grade{
      font-size: 35px;
      font-weight: 300;
      color:#fff;
    }

  }
  .temp-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-left: 120px;
    .temp-num{
      font-size: 440px;
      color: #fff;
      letter-spacing: -0.15em;
      line-height: 370px;
      position: relative;
      display: inline-block;
    }
    .dosi{
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      left: calc(50% + 50px);
      transform: translateY(0);
    }
    .temp-condition{
      .condition-kr{
        font-size: 50px;
        color: #fff;
        font-weight: 300;
      }
      .condition-en{
        font-size: 50px;
        color: #fff;
        font-weight: 300;
      }
    }
    .temp-dust{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .dust-item{
        display: flex;
        flex-direction: row;
        gap: 15px;
        font-size: 29px;
        color:#fff;
          font-weight: 300;
        b{
          font-weight: 400;
        }
        i{
          font-style: normal;
          font-weight: 300;
        }
      }
    }
  }
  .timeline-cell{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    gap: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    .timeline-row{
      justify-content: space-between;
      width: 1200px;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: start;
      .today{
        font-size: 58px;
        font-weight: 500;
        letter-spacing: -0.01em;
        color:#fff;
        font-family: "Alegreya Sans";
      }
      .date{
        padding-top: 10px;
        text-align: right;    
      }
      .date-kr{
        margin-top: 4px;
        font-size: 42px;
        font-weight: 300;
        color:#fff;
      }
      .date-en{
        margin-top: 8px;
        font-size: 28px;
        font-weight: 300;
        color:#fff;
      }
    }
    .chart-row{
      margin-top: 8px;
      height: 230px;

    }
    .hourly-row{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 36px;
      align-items: end;
      padding: 5px 40px;
    }

    .hour-item{
      text-align: center;
      display: grid;
      gap: 10px;
      justify-items: center;
    }

    .h-temp{
      font-size: 38px;
      font-weight: 400;
      color: #3F3F3F;
    }
    .h-time{
      font-size: 28px;
      font-weight: 400;
      color: rgba(255,255,255,0.86);
      font-family: "Inter";
    }
  }
}
.wicon{
  &.sun{
    background: url("../../asset/image/icon_sunny.svg") no-repeat 50% 50%;
    background-size: 68px 68px;
    animation: rotate 8s linear infinite;
  }
  &.cloud{
    background: url("../../asset/image/icon_cloud.svg") no-repeat 50% 50%;
    background-size: 88px 56px;
  }
  &.partly{
      position: relative;
    &::before{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 64px;
      height: 64px;
      background: url("../image/icon_sunny.svg") no-repeat 50% 50%;
      background-size: 64px 64px;
      animation: rotate 8s linear infinite;
      z-index: 11;
    }
    &::after{
      content:"";
      position: absolute;
      top: 15px;
      left: 0;
      display: inline-block;
      width: 90px;
      height: 56px;
      background: url("../image/icon_cloud.svg") no-repeat 50% 50%;
      background-size: 90px 56px;
      z-index: 22;
    }
  }
  &.size-l{
    width: 200px;
    height: 200px;
    background-size: contain;
  }
  &.size-m{
    width: 132px;
    height: 132px;
    background-size: contain;
  }
  &.size-s{
    width: 88px;
    height: 88px;
    background-size: contain;
  }
}
